@charset "UTF-8";
html {font-size: 62.5%;}

body {
    background-color: #efefef;
    color: #000;
    font-family: sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

h1 {
    font-size: 36px;
    font-size: calc(2.4rem +((1vw - 0.64rem) * 2.1429));
    line-height: 1.3;
}

h2 {
    font-size: 24px;
    font-size: calc(2rem + ((1vw - 0.64rem) * 0.7413));
    line-height: 1.3;
}

span.caution {
    font-size: 1.2rem;
}

.center {text-align: center;}

.left {text-align: left;}

.right {text-align: right;}

.btn {text-align: right;}

.sp_menuttl h2 {
    font-family: 'Impact';
    font-weight: normal;
}

.tag {
    color: #878787;
    font-size: 1.5rem;
}

img {
    width: 100%;
    vertical-align: middle;
}

html {scroll-behavior: smooth;}

a {
    color: #000;
    text-decoration: none;
}

a.anchor {
    display: block;
    margin-top: -3.84em;
    padding-top: 3.84em;
}

.btn a {
    background-color: #2f4f4f;
    color: #fff;
    display: inline-block;
    padding: 1em;
    transition: 0.5s;
}

.btn a:hover {background-color: #708090;}

.sp_menu {
    height: 3.84em;
    position: fixed;
    display: table;
    top: 0;
    right: 0;
}

.sp_menubox {
    background-color: #fff;
    width: 250px;
    max-width: 90%;
    height: 100%;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40;
    transition: all 0.3s ease-in-out 0s;
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
}

.sp_menuitem {
    width: 85%;
    margin: 0 auto;
    border-bottom: 1px solid;
}

.sp_menuitem:first-child {height: 3.84em;}

.sp_menuttl {text-align: center;}

.sp_menuitem a {
    width: 100%;
    display: block;
    padding: 30px 0;
    text-align: center;
    transition: 0.5s;
}

.sp_menuitem a:hover {
    background-color: #000;
    color: #fff;
}

#drawer_checkbox:checked ~ .sp_menubox {
    transform: translateX(0);
    box-shadow: 6px 0 24px rgba(0,0,0,0.16);
}

#drawer_close {
    background-color: #000;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: 39;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out 0s;
}

#drawer_checkbox:checked ~ #drawer_close {
    display: block;
    opacity: 0.3;
}

#drawer_checkbox {display: none;}

#drawer_icon {
    width: 50px;
    height: 3.84em;
    cursor: pointer;
    display: inline-block;
    position: relative;
}

#drawer_icon span {
    width: 84%;
    height: 13%;
    background-color: #333;
    border-radius: 4px;
    display: block;
    top: 50%;
    left: 50%;
    margin: -8% 0 0 -42%;
    position: absolute;
    transition: all 0.3s ease-in-out 0s;
}

#drawer_icon span:before,#drawer_icon span:after {
    background-color: #333;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(0);
    border-radius: 4px;
    content: "";
    display: block;
    top: 50%;
    left: 50%;
    margin: -8% 0 0 -50%;
    position: absolute;
    transform: rotateX(0);
    transition: all 0.75s ease-in-out;
}

#drawer_icon span:before {margin-top: -38%;}

#drawer_icon span:after {margin-top: 19%;}

#drawer_checkbox:checked ~ #drawer_icon span {background-color: rgba(51, 51, 51, 0);}

#drawer_checkbox:checked ~ #drawer_icon span:before,#drawer_checkbox:checked ~ #drawer_icon span:after {
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    top: 50%;
    left: 50%;
    margin: -8% 0 0 -42%;
    position: absolute;
}

#drawer_checkbox:checked ~ #drawer_icon span:before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#drawer_checkbox:checked ~ #drawer_icon span:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

header {
    background-color: #fff;
    width: 100%;
    height: 3.84em;
    position: fixed;
}

h1.logo {
    font-family: 'Impact';
    font-weight: normal;
    margin: 0;
    padding: 0.25em 0;
    text-align: center;
}

body {
    margin: 0;
    overflow-x: hidden;
}

#contents {
    padding-top: 3.84em;
    min-height: 100vh;
}

.contents_page {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.template,.oneday,.office_media,.multi_media,.faq,.insite,.poster {margin-bottom: 50px;}

.poster_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.poster_item {width: 30%;}

footer {
    width: 100%;
    height: 3.84em;
}

.author {line-height: 3.84em;}

@media screen and (min-width:1200px) {
    h1 {font-size: 3.6rem;}
    h2 {font-size: 2.4rem;}
}

@media screen and (min-width:1080px) {
    .cat_ttl {margin: 5rem 0;}

    .contents_page {width: 90%;}

    .template,.oneday,.office_media,.multi_media,.faq,.insite {
        display: flex;
        margin-bottom: 20rem;
    }

    .template_item,.template_txt,.oneday_item,.oneday_txt,.movie_container,.media_txt,.multi_item,.multi_txt,.faq_item,.faq_txt,.insite_item,.insite_txt {width: 50%;}

    .oneday,.multi_media,.insite {flex-direction: row-reverse;}

    .template,.oneday,.office_media,.faq,.insite {align-items: center;}

    .txtitem {
        width: 90%;
        margin: 0 auto;
    }

    .poster {
        width: 90%;
        margin: 0 auto;
    }
}

@media screen and (max-width:1079px) {
    .contents_page {width: 70%;}
}

@media screen and (max-width:800px) {
    .contents_page {width: 80%;}
}

@media screen and (max-width:640px) {
    body {line-height: 2;}
    h1 {font-size:2.4rem;}
    h2 {font-size: 2rem;}
    br {display: none;}
    .poster_box {
        flex-wrap: wrap;
        gap: 20px 0;
    }
    .poster_item {width: 45%;}
}

@media screen and (max-width:500px) {
    .contents_page {width: 85%;}
    h1.logo {
        font-size: 3.6rem;
        font-weight: bold;
    }
}
